@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Rampart+One&family=Yaldevi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Merriweather&family=Montserrat&family=Sacramento&display=swap");

body {
  background-image: url(img/backgroundeditado.png);
  background-size: 1366px 768px;
  text-align: center;
}

/*PÁGINA DE INICIO*/

.logo-grande {
  font-family: "Berkshire Swash";
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 179px;
  color: #ffa260;
  text-align: center;
  text-shadow: 1px 2px rgb(214, 180, 166), -1px -1px rgb(148, 119, 96);
}

.container-logo {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.boton-entrar {
  width: 331px;
  opacity: 70%;
  position: center;
}

.boton-entrar:hover {
  opacity: 100%;
}

.footer-inicio {
  font-family: "Yaldevi", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
  bottom: 0;
}

/*BOTONES NAVBAR*/

.btn-home {
  background: #ffd3b4;
  border-radius: 12px;
  font-family: "Berkshire Swash";
  color: 4d423f;
  font-size: 2rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-home:hover {
  background: #ffffff;
}

.btn-movies {
  background: #d5ecc2;
  border-radius: 12px;
  font-family: "Berkshire Swash";
  color: 4d423f;
  font-size: 2rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-movies:hover {
  background-color: #ffffff;
}

.btn-characters {
  background: #cff4ec;
  border-radius: 12px;
  font-family: "Berkshire Swash";
  color: 4d423f;
  font-size: 2rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-characters:hover {
  background-color: #ffffff;
}

.btn-directors {
  background: #fff5eb;
  border-radius: 12px;
  font-family: "Berkshire Swash";
  color: 4d423f;
  font-size: 2rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-directors:hover {
  background: #ffffff;
}

.btn-facts {
  background: #ffbebb;
  border-radius: 12px;
  font-family: "Berkshire Swash";
  color: 4d423f;
  font-size: 2rem;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-facts:hover {
  background: #ffffff;
}

.navbar {
  margin: 70px auto 30px;
}

/*HOME - PÁGINA DE PERSONAJES*/

.contenedor-personajes {
  background-color: #cff4ec;
  display: flex;
  flex-flow: row wrap;
  border-radius: 13px;
  padding: 40px;
  width: 60%;
  margin: 0 auto 70px;
  justify-content: center;
  box-shadow: 8px 8px 0px rgb(73, 170, 163);
  border: 3px solid #24756f;
}

.contenedor-select-personajes {
  background-color: #cff4ec;
  display: flex;
  flex-flow: row wrap;
  border-radius: 13px;
  height: auto;
  width: 60%;
  padding: 20px;
  margin: auto;
  box-shadow: 8px 8px 0px rgb(73, 170, 163);
  border: 3px solid #24756f;
}

.contenedor-imagen-personaje {
  padding: 20px;
}

.img-personaje {
  border-radius: 100px;
  border: 5px solid #24756f;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.img-personaje:hover {
  border: 5px solid #df9037;
  opacity: 80%;
}

.select-personajes {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #2a322a;
  background-color: #f8fffe;
  margin: auto;
  padding: 20px;
  border-radius: 13px;
}

.nombre-personaje {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 31px;
  text-align: center;
  color: #2a322a;
  background-color: #f8fffe;
  border-radius: 13px;
  border: 3px solid #24756f;
}

.footer-container {
  width: 292px;
  height: 75px;
  font-family: Berkshire Swash;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 75px;
  color: #f4b065;
  text-shadow: 1px 2px rgb(214, 180, 166), -1px -1px rgb(148, 119, 96);
  justify-content: center;
  display: flex;
  margin: 0 auto 70px;
}
